:root {
    --verde-turquesa-escuro: #011F26;
    --azul-turquesa-claro: #025E73;
    --azul-turquesa-escuro: #026873;
    --verde-claro: #03A688;
    --rosa-claro: #F2668B;
    --fundo-da-aplicacao: #f0f0f0;
    --fonte-principal: 'Open Sans', sans-serif;
    --fonte-secundario: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-principal);
    font-size: 20px;
    background-color: var(--fundo-da-aplicacao);
}

.div-logo {
    border: 1px solid var(--fundo-da-aplicacao);
    /* flex: 1; */
    padding: 10px;
    text-align: center;
}

h3 {
    font-size: 26px;
}

h2,
p {
    padding: 0.5em;
    font-size: 1rem; 
    font-family: var(--fonte-secundario);
}

section {
    padding: 2em 5%;
}

.header {
    padding: 1em 2%;
    background-color: var(--verde-turquesa-escuro);
    color: var(--fundo-da-aplicacao);
}

a {
    color: var(--fundo-da-aplicacao);
}

a:hover {
    color: var(--verde-claro);
}

a:active {
    color: var(--rosa-claro);
}

.conteudo-home img {
    width: 100%;
}

.conteudo-habilidades {
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 2em;
}

.conteudo-habilidades ul li img {
    width: 100%;
}

.conteudo-persona {
    height: 100%;
    text-align: center;
    /* border: 1px solid var(--verde-claro); */
    background-color: var(--azul-turquesa-escuro);
    color: white;
}

.home-titulo, .sub-titulo {
    text-align: justify;
    padding: 1em;
    font-size: 1.2rem;
}

.cabecalho-lista,
.cabecalho-final {
    display: none;
}

.lista-habilidade {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    list-style: none;
    gap: 1em;
}

.lista-habilidade li{
    grid-column: span 12;
    background-color: var(--verde-turquesa-escuro);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;
}

#contatos {
    background-color: var(--verde-claro);
    color: white;
}

/* Ultimo menu sobre as pginas onde pode acessar */
.outro-menu3 ul {
    text-align: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 20px;
    color: white;
}

.outro-menu2 {
    text-align: center;
}

.outro-menu2 h3 {
    margin-bottom: 3%;
}

/* O menu dos contatos interessados */
.outro-menu2 .sub-menu2 {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 2px;
}

/* Contato inteiro */
.contatos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.contatos img {
    width: 50px;
}

/* Texto mais o Botao */
.menu1 {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    flex: 1;
}

.botao {
    color: white;
    padding: 8px;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
}


@media screen and (min-width: 720px) {
    .conteudo-home img {
        width: 100%;
    }

    .conteudo-persona {
        padding: 1rem;
        margin-top: 1em;
        /* border-radius: 1rem; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        align-items: center;
    }

    .conteudo-persona .linha2 {
        /* grid-column: 2 / span 3; */
        font-size: 16px;
        display: flex;
        flex-direction: row;
        gap: 1rem; 
    }
    
    .conteudo-persona div {
        text-align: justify;
    }

    .conteudo-persona h2 {
        font-size: 32px;
    }

    .conteudo-persona p {
        font-size: 16px;
    }


    .cabecalho-nav {
        display: flex;
        justify-content: center;
        padding: 1rem 2rem;
        /* background-color: #f5f5f5; */
    }

    .cabecalho-lista {
        display: flex;
        gap: 2rem;
        list-style: none;
        flex: 2;
    }

    .cabecalho-lista li a {
        text-decoration: none;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }

    .cabecalho-final {
        display: flex;
        justify-content: flex-end;
    }

    .cabecalho-final a {
        text-decoration: none;
        margin-right: 1rem;
        /* empurra o item para longe do menu */
    }

    .conteudo-home {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .conteudo-home img {
        width: 450px;
        /* height: 700px; */
        object-fit: cover;
    }

    .conteudo-home div {
        text-align: justify;
    }

    .lista-habilidade li:nth-child(1) {
        grid-column: 1 / span 4;
    }

    .lista-habilidade li:nth-child(2) {
        grid-column: 5 / span 4;
    }

    .lista-habilidade li:nth-child(3) {
        grid-column: 9 / span 4;
    }

    /* .lista-habilidade li img {
        width: 100%;
        object-fit: cover;
        display: block;
        opacity: 0.7;
    } */

    .lista-habilidade li {
        text-align: justify;
        padding: 2em 3%;
        /* position: relative; relative no pai */
        width: 100%;
        overflow: hidden;
    }

    .lista-habilidade li h2 {
        /* top: 40px; distância do topo */
        /* left: 20px; distância da esquerda */
        /* position: absolute; absolute no filho */
        color: white;
        margin-bottom: 4%;
        /* z-index: 1; */
        /* background-color: rgba(0, 0, 0, 0.6); /* fundo semitransparente */
        /* padding: 10px; */
        border-radius: 5px;
    }

    .lista-habilidade li p {
        font-size: 1rem;
        /* position: absolute;  */
        /* right: 20px;
        bottom: 5px;
        left: 20px;  */
        color: white;
        /* background-color: rgba(0, 0, 0, 0.6);
        padding: 10px; */
        border-radius: 9px;
    }

    #contatos {
        width: 100%;
        padding: 20px;
        background-color: var(--azul-turquesa-claro);
    }

    .contatos {
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }

    .contatos img {
        width: 100px; 
        margin-right: 10px;
    }

    .contatos .menu1 {
        display: flex;
        flex-direction: column;
        justify-content: center; /*Alinha os itens flex no container de acordo com a direção */
        align-items: center; /* permite o tão sonhado alinhamento central no eixo vertical */
        flex: 1;
        gap: 10px;
    } 

    .home-titulo, .botao {
        color: var(--fundo-da-aplicacao);
    }

    .botao {
        padding: 20px;
        border-radius: 5px;
        background-color: black;
        box-shadow: 5px 5px rgb(146, 146, 146);
        cursor: pointer;
    }

    .outro-menu2 {
        width: 100%;
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
        padding: 10px 5%;
        border-bottom: 3px solid black;
    }

    .outro-menu2, .outro-menu3 {
        background-color: var(--verde-claro);
    }

    .outro-menu2 h3 {
        font-size: 1.5rem;
    }

    .sub-menu2 {
        display: flex;
        gap: 5rem;
        list-style: none;
        text-align: center;
    }
    
    .outro-menu3 ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        color: black;
    }

    .outro-menu3 ul li {
        display: flex;
        justify-items: flex-end;
        align-items: center;
        gap: 10px;
        padding: 1%;
    }

    .outro-menu3 ul li:hover {
        color: var(--fundo-da-aplicacao);
        cursor: pointer;
    }

}